@media screen and (min-width: 480px) {
    .shop-style{
        margin-left: 3%;
        margin-right: auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4,1fr);
        
    }
  }

  @media screen and (max-width: 480px) {
    .shop-style{
        margin-left: 3%;
        margin-right: auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1,1fr);
        
    }
  }

  .loader{
    position: absolute;
   color: White;
  top: 50%;
  left: 50%;
}