#show-all-product-for-editing{
    display: block;
}
#main-body{
    border: 1px solid lightgray;
    background-color: #F4FCFB;
}
#product-adding-form{
    display: none;
    float: right;
    padding-left: 5%;
    margin-right: 2%;
    margin-top: 5%;
    width: 60%;
    border: 1px solid black;
    border-radius: 20px;

}

.save-button{
    background-color: #71BA58;
    border-radius: 20px;
    width: 20%;
    height: 40px;
    border:0ch;
    color: white;
    float: right;
}