.search-bar{
    margin-top: 5%;
    margin-bottom: 5%;
}
.input-box{
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-right: 1%;
    height: 40px;
    background-color: lightgray;
}
.search-button{
    border-radius: 20px !important;
    height: 40px;
}
.input-box:focus{
    outline: none;
}